body {
    background-color: blueviolet;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 384px;
    
}



h1 {
    color: white;
    margin-left: -36px;
    height: 60px;
    margin-top: -50px;
    margin-right: -228px;
}


button {
    margin-top: 9px;
    margin-left: 7px;
    width: 50px;
    border-radius: 10px;
    margin-right: -31px;
}

ul {
    position:absolute;
    top: 50%;
    background-color: white;
    width: 0%;
    height: 10%;
    border-radius: 10px;
    padding-left: 0;
    

}

#new-task {
    height: 60px;
    
    
}

input {
    margin-top: 50px;
    margin-right: -8px;
    margin-left: 14px;
}

