body {
    background-color: blueviolet;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 180px;
    
}



h1 {
    color: white;
    margin-left: -36px;
    height: 60px;
    margin-top: -50px;
    margin-right: -228px;
}


button {
    margin-top: 9px;
    margin-left: 7px;
    width: 50px;
    border-radius: 10px;
    margin-right: -31px;
}

ul {
    margin-top: 130px;
    /* display: flex; */
    width: 277.3px;
    height: 50px;
    margin-left: -238px;
    border-radius: 10px;
    padding-left: 25px;
    background-color: white !important;
}

#new-task {
    height: 60px;
    
    
}

input {
    margin-top: 50px;
    margin-right: -8px;
    margin-left: 14px;
}

